/*sign up container*/
.signUp{
    border: 1px solid white;
    border-radius: 2%;
    padding: 5%;
    background-color: white;
}

/*sign in container*/
.signIn{
    border: 1px solid white;
    border-radius: 2%;
    padding: 5%;
    background-color: white;
}

/*sign in title*/
.sign-in{
    text-align: center;
}

/*sign up title*/
.sign-up{
    text-align: center;
}

.submit-button{
    text-align: center;
    padding-top: 10%;
}

.container{
    width: 70%;
    padding-top: 8%;
    padding-bottom: 8%;
}

