.content {
  border-top: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

/* LINK ANIMATIONS IN NAVBAR
 * https://codepen.io/martinwolf/pen/eNNdme
 * --------------------------------------------------------
*/
.home-link,
.link-1,
.link-2,
.link-3,
.link-4,
.link-5,
.link-6,
.link-7,
.link-8 {
  display: inline-block;
  text-decoration: none;
}

.logo {
  width: 50px;
  padding-right: 20px;
  padding-bottom: 10px;
}

/* Home Link */
.home-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #5BADC5;
  transition: width 0.3s;
}

.home-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Sign In Link */
.link-1::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #5BADC5;
  transition: width 0.3s;
}

.link-1:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Class Logging Link */
.link-2::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #5BADC5;
  transition: width 0.3s;
}

.link-2:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* P/NP Link */
.link-3::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #5BADC5;
  transition: width 0.3s;
}

.link-3:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* GPA Link */
.link-4::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #5BADC5;
  transition: width 0.3s;
}

.link-4:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* GE Req Link */
.link-5::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #5BADC5;
  transition: width 0.3s;
}

.link-5:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Calendar Link */
.link-6::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #5BADC5;
  transition: width 0.3s;
}

.link-6:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.link-7::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #5BADC5;
  transition: width 0.3s;
}

.link-7:hover::after {
  width: 100%;
  transition: width 0.3s;
}